---
import MainLayout from "../layouts/MainLayout.astro";

import MobileMenu from "../components/page-section/MobileMenu.astro";
import Header from "../components/page-section/Header.astro";
import HeroImage from "../components/page-section/HeroImage.astro";
import MessageForm from "../components/page-section/MessageForm.astro";
import Services from "../components/page-section/Services.astro";
import Testimonials from "../components/page-section/Testimonials.astro";
import Projects from "../components/page-section/Projects.astro";
import ContactUs from "../components/page-section/ContactUs.astro";
---

<MainLayout css="main" confetti>

  <div class="site-wrap" id="home-section">
    <MobileMenu />

    <Header />

    <HeroImage />

    <MessageForm />

    <Services />

    <Testimonials />

    <Projects />

    <ContactUs />
  </div>

</MainLayout>
