---
---

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 pr-md-5 mr-auto">
        <h2 class="line-bottom">
          Have A Project In Mind? Ask Us For A Free Quote... <span
            class="text-primary">Today</span
          >!
        </h2>
        <p>
          Even if you aren't 100% settled or ready to commit yet, <span
            class="text-primary">YES</span
          > we want to hear from you! We'll walk through the options together until
          you're
          <span class="text-primary">comfortable</span>.
        </p>
      </div>
      <div class="col-md-6">
        <div class="quick-contact-form bg-white">
          <h2>Get A Free Quote</h2>
          <form action="#" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name" />
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" />
            </div>
            <div class="form-group">
              <textarea
                name=""
                class="form-control"
                id=""
                cols="30"
                rows="5"
                placeholder="Message"></textarea>
            </div>
            <div class="form-group">
              <input
                type="submit"
                value="Contact"
                class="btn btn-primary px-5"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
