---
---

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 pr-md-5 mr-auto">
        <h2 class="line-bottom">
          Project In Mind? Ask Us For A Free Quote... <span class="text-primary"
            >Today</span
          >!
        </h2>
        <p>
          Even if you aren't 100% settled or ready to commit yet, <span
            class="text-primary">YES</span
          > we want to hear from you! We'll walk through the options together until
          you're
          <span class="text-primary">comfortable</span>.
        </p>
      </div>
      <div class="col-md-6">
        <div class="quick-contact-form bg-white">
          <h2>Get A Free Quote</h2>
          <form action="#" method="POST" class="message-form">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                name="name"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                name="from"
              />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                cols="30"
                rows="5"
                placeholder="Message"
                name="text"></textarea>
            </div>
            <div class="form-group">
              * Human Question: Today's Day of Month Is...
              <input
                type="number"
                class="form-control"
                placeholder="A Number"
                name="answer"
              />
            </div>
            <div class="form-group">
              <input
                type="submit"
                value="Contact"
                class="btn btn-primary px-5"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Find our component DOM on the page.
  const forms = document.querySelectorAll(
    "form.message-form"
  ) as NodeListOf<HTMLFormElement>;

  // Add event listeners to form submit button.
  forms.forEach((form) => {
    form.addEventListener("submit", (evt: any) => {
      evt.preventDefault();
      if (!evt.target) return;
      const data = new FormData(evt.target);
      const values = Object.fromEntries(data.entries());

      if (!values.answer) {
        alert("Human Question required, robot!");
        return;
      }

      const sub = form.querySelector("input[type=submit]") as HTMLButtonElement;
      sub.disabled = true;

      fetch("/api/email", {
        method: "POST",
        headers: { "content-type": "application/json" },
        body: JSON.stringify(values),
      })
        .then(() => {
          sub.value = "Sent!";
          alert("Email Sent!");
        })
        .catch(() => {
          sub.value = "Error";
          alert("Error Sending Email -- Please Try Again Later");
        });
    });
  });
</script>
