---
import ProjectCard from "./ProjectCard.astro";
---

<div class="site-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-4 mx-auto">
        <h2 class="line-bottom text-center">Our Projects</h2>
      </div>
    </div>

    <div class="row">
      <ProjectCard
        imgSrc="images/projects/0757.jpg"
        title="Kitchen"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/0831.jpg"
        title="Kitchen"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/0970.jpg"
        title="Shower"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/0971.jpg"
        title="Shower"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/1446.jpg"
        title="Roof"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/1457.jpg"
        title="Roof"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/2297.jpg"
        title="Porch"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/2301.jpg"
        title="Porch"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/2356.jpg"
        title="Door"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/2636.jpg"
        title="Roof"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/2894.jpg"
        title="Kitchen"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/2895.jpg"
        title="Kitchen"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/2896.jpg"
        title="Kitchen"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/2944.jpg"
        title="Kitchen"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/3014.jpg"
        title="Kitchen"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/3554.jpg"
        title="Stairway"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/3555.jpg"
        title="Living Room"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/5067.jpg"
        title="Living room"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/3557.jpg"
        title="Kitchen"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/3556.jpg"
        title="Bathroom"
        category="Renovate"
      />
      <ProjectCard
        imgSrc="images/projects/4137.jpg"
        title="Shower"
        category="Renovate"
      />
    </div>
  </div>
</div>
