---
import ProjectCard from "./ProjectCard.astro"
---

<div class="site-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-4 mx-auto">
        <h2 class="line-bottom text-center">Our Projects</h2>
      </div>
    </div>

    <div class="row">
      <!-- <ProjectCard imgSrc="images/img_1.jpg" title="Renovate the house" category="Renovate" /> -->
      <ProjectCard imgSrc="images/projects/0757.jpg" title="Renovate the house" category="Renovate" />
      <!-- <ProjectCard imgSrc="images/img_2.jpg" title="Renovate the house2" category="Renovate" /> -->
      <ProjectCard imgSrc="images/projects/0831.jpg" title="Renovate the house1" category="Renovate" />
      <!-- <ProjectCard imgSrc="images/img_3.jpg" title="Renovate the house3" category="Renovate" /> -->
      <ProjectCard imgSrc="images/projects/0970.jpg" title="Renovate the house2" category="Renovate" />
      <!-- <ProjectCard imgSrc="images/img_4.jpg" title="Renovate the house4" category="Renovate" /> -->
      <ProjectCard imgSrc="images/projects/0971.jpg" title="Renovate the house3" category="Renovate" />
      <!-- <ProjectCard imgSrc="images/img_1.jpg" title="Renovate the house5" category="Renovate" /> -->
      <ProjectCard imgSrc="images/projects/1446.jpg" title="Renovate the house4" category="Renovate" />
      <!-- <ProjectCard imgSrc="images/img_2.jpg" title="Renovate the house6" category="Renovate" /> -->
      <ProjectCard imgSrc="images/projects/1457.jpg" title="Renovate the house5" category="Renovate" />
    </div>
  </div>
</div>
