---
import ServiceCard from "./ServiceCard.astro";
---

<div class="site-section" style="background-color: #dedffe;">
  <div class="container">
    <div class="row align-items-stretch">
      <ServiceCard
        imgSrc="images/flaticon/svg/001-renovation.svg"
        title="Renovation"
        description="Consectetur adipisicing elit. Numquam repellendus aut labore"
      />
      <ServiceCard
        imgSrc="images/flaticon/svg/002-shovel.svg"
        title="Finishing"
        description="Consectetur adipisicing elit. Numquam repellendus aut labore"
      />
      <ServiceCard
        imgSrc="images/flaticon/svg/003-bulldozer.svg"
        title="Building Construction"
        description="Consectetur adipisicing elit. Numquam repellendus aut labore"
      />
      <ServiceCard
        imgSrc="images/flaticon/svg/004-house-plan.svg"
        title="House Build"
        description="Consectetur adipisicing elit. Numquam repellendus aut labore"
      />
      <ServiceCard
        imgSrc="images/flaticon/svg/005-fence.svg"
        title="Fence Construction"
        description="Consectetur adipisicing elit. Numquam repellendus aut labore"
      />
      <ServiceCard
        imgSrc="images/flaticon/svg/006-wheelbarrow.svg"
        title="Bridge Construct"
        description="Consectetur adipisicing elit. Numquam repellendus aut labore"
      />
    </div>
  </div>
</div>
