---
import ServiceCard from "./ServiceCard.astro";
---

<div class="site-section" style="background-color: #00b3b3;">
  <div class="container">
    <div class="row align-items-stretch">
      <ServiceCard
        imgSrc="images/flaticon/svg/001-renovation.svg"
        title="Renovation"
        description="Our renovation services breathe new life into your existing home. Whether you're looking to update your kitchen, add a new bathroom, or create more living space, our skilled team can make it happen."
      />
      <ServiceCard
        imgSrc="images/flaticon/svg/002-shovel.svg"
        title="Finishing"
        description=" Our finishing services add the final touches that make your home truly shine. From painting and trim work to flooring and tile, we pay attention to every detail to ensure your satisfaction."
      />
      <ServiceCard
        imgSrc="images/flaticon/svg/003-bulldozer.svg"
        title="Handy Man Services"
        description="Our handyman services are perfect for small repairs and maintenance tasks around your home. From fixing leaky faucets to hanging shelves, our team is skilled in a wide range of services to keep your home running smoothly."
      />
      <ServiceCard
        imgSrc="images/flaticon/svg/004-house-plan.svg"
        title="House Building"
        description="Our house building services bring your dream home to life. From the initial design phase to the final walk-through, our team works closely with you to create a home that reflects your style and needs."
      />
      <ServiceCard
        imgSrc="images/flaticon/svg/005-fence.svg"
        title="Custom Carpentry"
        description="Our custom carpentry services add unique and functional elements to your home. From custom cabinetry to built-in bookcases, we work with you to create one-of-a-kind pieces that fit seamlessly into your space."
      />
      <ServiceCard
        imgSrc="images/flaticon/svg/006-wheelbarrow.svg"
        title="General Contracting"
        description="Our general contracting services oversee every aspect of your home construction project. From hiring subcontractors to managing timelines and budgets, our experienced team ensures that your project runs smoothly from start to finish."
      />
    </div>
  </div>
</div>
