---
---

<div class="site-section" style="background-color: #dedffe;">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
        <div class="service-2 h-100">
          <div class="svg">
            <img
              src="images/flaticon/svg/001-renovation.svg"
              alt="Image"
              class=""
            />
          </div>

          <h3><span>Renovation</span></h3>
          <p>Consectetur adipisicing elit. Numquam repellendus aut labore</p>
        </div>
      </div>
      <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
        <div class="service-2 h-100">
          <div class="svg">
            <img
              src="images/flaticon/svg/002-shovel.svg"
              alt="Image"
              class=""
            />
          </div>

          <h3><span>Finishing</span></h3>
          <p>Consectetur adipisicing elit. Numquam repellendus aut labore</p>
        </div>
      </div>
      <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
        <div class="service-2 h-100">
          <div class="svg">
            <img
              src="images/flaticon/svg/003-bulldozer.svg"
              alt="Image"
              class=""
            />
          </div>

          <h3><span>Building Construction</span></h3>
          <p>Consectetur adipisicing elit. Numquam repellendus aut labore</p>
        </div>
      </div>

      <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
        <div class="service-2 h-100">
          <div class="svg">
            <img
              src="images/flaticon/svg/004-house-plan.svg"
              alt="Image"
              class=""
            />
          </div>

          <h3><span>House Build</span></h3>
          <p>Consectetur adipisicing elit. Numquam repellendus aut labore</p>
        </div>
      </div>
      <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
        <div class="service-2 h-100">
          <div class="svg">
            <img src="images/flaticon/svg/005-fence.svg" alt="Image" class="" />
          </div>

          <h3><span>Fence Construction</span></h3>
          <p>Consectetur adipisicing elit. Numquam repellendus aut labore</p>
        </div>
      </div>
      <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
        <div class="service-2 h-100">
          <div class="svg">
            <img
              src="images/flaticon/svg/006-wheelbarrow.svg"
              alt="Image"
              class=""
            />
          </div>

          <h3><span>Bridge Construct</span></h3>
          <p>Consectetur adipisicing elit. Numquam repellendus aut labore</p>
        </div>
      </div>
    </div>
  </div>
</div>
