---
import TestimonialCard from "./TestimonialCard.astro";
---

<div class="site-section bg-light">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4 mx-auto">
        <h2 class="line-bottom text-center">Testimonials</h2>
      </div>
    </div>

    <div class="row">
      <TestimonialCard
        quote={`Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure id
      accusantium similique temporibus nihil blanditiis adipisci aperiam,
      sapiente suscipit vero.`}
        name="John Smith"
        position="Client From Facebook"
        imgSrc="images/person_1.jpg"
      />

      <TestimonialCard
        quote={`Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure id
      accusantium similique temporibus nihil blanditiis adipisci aperiam,
      sapiente suscipit vero.`}
        name="Jane Smith"
        position="Client From Facebook"
        imgSrc="images/person_2.jpg"
      />
    </div>
  </div>
</div>
