---
import BaseHead from "./BaseHead.astro";

export interface Props {
  title?: string;
  css?: string;
  confetti?: boolean;
}

const { props } = Astro;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {...props} />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=???-???????"
        height="0"
        width="0"
        style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      ©2023 All Rights Reserved
      <br />
      <ul class="share-buttons" data-source="mountainbrothers.com">
        <li>
          <a
            href="mailto:mountainbrothers@hotmail.com"
            title="email"
            target="_blank"
            ><img alt="Email" src="/images/social/Email.png" />
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/COREStrength/"
            href-share="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmountainbrothers.com&quote=Mountain%20Brothers"
            title="Facebook"
            target="_blank"
            ><img alt="Facebook" src="/images/social/Facebook.png" />
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/mountainbrothers"
            href-share="https://twitter.com/intent/tweet?source=http%3A%2F%2Fmountainbrothers.com&text=Mountain%20Brothers:%20http%3A%2F%2Fmountainbrothers.com&via=dajohnson162000"
            target="_blank"
            title="Twitter"
            ><img alt="Twitter" src="/images/social/Twitter.png" />
          </a>
        </li>
        <!-- <li>
          <a
            href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fmountainbrothers.com&media=https://mountainbrothers.com/images/logo_v3.webp&description=Family-Friendly%20Living%20Space!%0AAll-Natural%20Materials%0A21%20Years%20of%20Experience"
            target="_blank"
            title="Pin it"
            ><img alt="Pin it" src="images/social/Pinterest.png"
          /></a>
        </li> -->
        <li>
          <a
            href="https://www.linkedin.com/in/david-johnson-66454733/"
            href-share="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fmountainbrothers.com&title=Mountain%20Brothers&summary=Family-Friendly%20Living%20Space!%0AAll-Natural%20Materials%0A21%20Years%20of%20Experience&source=http%3A%2F%2Fmountainbrothers.com"
            target="_blank"
            title="LinkedIn"
            rel="prefetch"
            ><img alt="LinkedIn" src="/images/social/LinkedIn.png" />
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
